@charset "utf-8";
@import "reset.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #494949;
}

.wrapper {
  margin: 0 20%;
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  min-height: 100vh;
  padding: 0 20px;
}
